/* I learned about align-items, which works with the non-dominant axis (cross axis)
(horizontal for columns, vertical for rows). It has similar values to justify-content
flex-start aligns containers (rows=top, columns = left)
flex-end aligns containers (rows=bottom, columns=right)
center aligns containers (rows=equal space above and below items,
columns=equal space left and right of items)
stretch stretches items to fill container (row= fill top to bottom)
baseline aligns items to their baselines (text concept),
e.g the line the letter sits on */

<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    align-items: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 200px;
    font-size: 24px;
  }

  #box-2 {
    background-color: orangered;
    width: 200px;
    font-size: 18px;
  }
</style>

<div id="box-container">
  <div id="box-1"><p>Hello</p></div>
  <div id="box-2"><p>Goodbye</p></div>
</div>
